/*
Project Name: Awakening - Final Project
Client: FEWD - Matt & Gio
Author: Sharan Mankoo
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* { /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

/*****************
/* FONT STYLES
/*****************/
@font-face {
    font-family: goku_250_stencil-webfont;
    src: url(../fonts/goku_250_stencil-webfont.woff);
}

body {
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	width: 90%;
	margin: auto;
}

/******************************************
/* BACKGROUND COLOUR VARIATIONS
/*******************************************/


.orange {
	background: rgb(240,151,123); 
    background: -webkit-linear-gradient(bottom left, rgba(240,151,123,1) 0%, rgba(249,235,122,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(240,151,123,1) 0%, rgba(249,235,122,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(240,151,123,1)), to(rgba(249,235,122,1)));
    background: linear-gradient(to top right, rgba(240,151,123,1) 0%, rgba(249,235,122,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0977b', endColorstr='#f9eb7a',GradientType=1 );
}


.yellow {
   background: rgb(156,211,141); 
   background: -webkit-linear-gradient(45deg, rgba(156,211,141,1) 0%,rgba(249,235,122,1) 100%); 
   background: -o-linear-gradient(45deg, rgba(156,211,141,1) 0%,rgba(249,235,122,1) 100%); 
   background: linear-gradient(45deg, rgba(156,211,141,1) 0%,rgba(249,235,122,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd38d', endColorstr='#f9eb7a',GradientType=1 );
}


.green {
   background: rgb(166,213,154);
   background: -webkit-linear-gradient(bottom left, rgba(166,213,154,1) 0%, rgba(122,149,201,1) 100%);
   background: -o-linear-gradient(bottom left, rgba(166,213,154,1) 0%, rgba(122,149,201,1) 100%);
   background: -webkit-gradient(linear, left bottom, right top, from(rgba(166,213,154,1)), to(rgba(122,149,201,1)));
   background: linear-gradient(to top right, rgba(166,213,154,1) 0%, rgba(122,149,201,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d59a', endColorstr='#7a95c9',GradientType=1 );
}


.blue {
   background: rgb(122,149,201);
   background: -webkit-linear-gradient(bottom left, rgba(122,149,201,1) 0%, rgba(146,129,185,1) 100%);
   background: -o-linear-gradient(bottom left, rgba(122,149,201,1) 0%, rgba(146,129,185,1) 100%);
   background: -webkit-gradient(linear, left bottom, right top, from(rgba(122,149,201,1)), to(rgba(146,129,185,1)));
   background: linear-gradient(to top right, rgba(122,149,201,1) 0%, rgba(146,129,185,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a95c9', endColorstr='#9281b9',GradientType=1 );
}


.purple {
   background: rgb(146,129,185);
   background: -webkit-linear-gradient(bottom left, rgba(146,129,185,1) 0%, rgba(235,153,186,1) 100%);
   background: -o-linear-gradient(bottom left, rgba(146,129,185,1) 0%, rgba(235,153,186,1) 100%);
   background: -webkit-gradient(linear, left bottom, right top, from(rgba(146,129,185,1)), to(rgba(235,153,186,1)));
   background: linear-gradient(to top right, rgba(146,129,185,1) 0%, rgba(235,153,186,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9281b9', endColorstr='#eb99ba',GradientType=1 );
}


.pink {
   background: rgb(235,153,186);
   background: -webkit-linear-gradient(45deg, rgba(235,153,186,1) 0%,rgba(240,151,123,1) 50%,rgba(249,235,122,1) 100%);
   background: -o-linear-gradient(45deg, rgba(235,153,186,1) 0%,rgba(240,151,123,1) 50%,rgba(249,235,122,1) 100%);
   background: linear-gradient(45deg, rgba(235,153,186,1) 0%,rgba(240,151,123,1) 50%,rgba(249,235,122,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb99ba', endColorstr='#f9eb7a',GradientType=1 );

}

.rainbow {
   background: rgb(235,153,186);
   background: -webkit-linear-gradient(45deg, rgba(235,153,186,1) 0%,rgba(235,153,186,1) 0%,rgba(122,149,201,1) 50%,rgba(166,213,154,1) 100%);
   background: -o-linear-gradient(45deg, rgba(235,153,186,1) 0%,rgba(235,153,186,1) 0%,rgba(122,149,201,1) 50%,rgba(166,213,154,1) 100%);
   background: linear-gradient(45deg, rgba(235,153,186,1) 0%,rgba(235,153,186,1) 0%,rgba(122,149,201,1) 50%,rgba(166,213,154,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb99ba', endColorstr='#a6d59a',GradientType=1 );
}

.grey {
   background: rgb(102,103,103);
   background: -webkit-linear-gradient(45deg, rgba(102,103,103,1) 0%,rgba(214,211,211,1) 100%);
   background: -o-linear-gradient(45deg, rgba(102,103,103,1) 0%,rgba(214,211,211,1) 100%);
   background: linear-gradient(45deg, rgba(102,103,103,1) 0%,rgba(214,211,211,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666767', endColorstr='#d6d3d3',GradientType=1 );
}


/******************************************
/* GENERAL
/*******************************************/

img {
  width: 100%;
  height: auto;
  }

a {
  text-decoration: none;
  color: #fff;
  }

p {
   line-height: 1.7;
   margin-bottom: 2.5rem;
  }

 .p-content:last-child {
  	margin-bottom: 5rem;
  }

p a {
	font-weight: bold;
}

  p a:hover {
	border-bottom: 1px solid #fff;
}

  h1 {
  	font-size: 4.5rem;
  	margin-bottom: 1rem;
  	text-transform: uppercase;
  }


/******************************************
/* HEADER
/*******************************************/

.logo {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/******************************************
/* HAMBURGER NAV
/*******************************************/

.hamburger {
	position: relative;
	z-index: 100;
	width: 12%;
	height: auto;
	padding-top: 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-item-align: start;
	    align-self: flex-start;

}

nav {
	-webkit-transition: -webkit-transform 0.6s ease-in;
	transition: -webkit-transform 0.6s ease-in;
	-o-transition: transform 0.6s ease-in;
	transition: transform 0.6s ease-in;
	transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(255,255,255,0.90);
	}	

nav a {
  	text-decoration: none;
  	color: #000;
  	font-size: 6rem;
  }

nav a:hover {
	color: rgba(255,255,255,0);
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

nav.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}


nav ul {
	list-style-type: none;
}

nav li {
	font-family: goku_250_stencil-webfont;
	color: #000;
	margin: 2rem 0;
	text-decoration: none;
}

ins {
	text-transform: uppercase;
	text-decoration: none;
}


/******************************************
/* FORM
/*******************************************/

form {
	text-align: left;
	padding: 4rem;
	line-height: 1.7rem;
	border: 5px solid #fff;
	margin-bottom: 4rem;
}

label {
	font-size: 3rem;
	display: inline-block;
	margin-bottom: 3rem;
	
}

input {
	display: inline-block;
	margin-bottom: 4rem;
	font-size: 2.5rem;
	width: 100%;
	color: #000;
	background-color: #fff;
	padding: 2rem;
	border: none;
}

textarea {
	width: 100%;
	color: #000;
	font-size: 2.5rem;
	margin-bottom: 4rem;
	background-color: #fff;
	padding: 2rem;
	border: none;
}

button {
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	font-size: 3rem;
	font-weight: bold;
	padding: 1rem;
	margin-top: 0.5rem;
	border: 5px solid #fff;
	background-color: rgba(255,255,255,0);
}

.form-space {
	padding-bottom: 4rem;

}

/******************************************
/* PARALLAX SCROLL
/*******************************************/

body, html {
    min-height: 100%;
}

.multi-parallax {
	height: 40vh;
	overflow: hidden;
	position: relative;
}
	
.layer {
	background-position: bottom center;
	background-size: auto;
 	background-size: 100% auto;
  	max-width:100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 40vh;
	position: absolute;
	z-index: -1;
}


/*********
/* ORANGE CIRCLES
/**/

.layer-1 {
	background-image: url('../images/bg-solid-left-orange.png');
	background-position: left bottom;
}
.layer-2 {
	background-image: url('../images/bg-solid-right-orange.png');
	background-position: right bottom;
}
.layer-3 {
	background-image: url('../images/bg-hashed-left-orange.png');
}
.layer-4 {
	background-image: url('../images/bg-hashed-right-orange.png');
	background-position: right bottom;
}
.layer-5 {
	background-image: url('../images/bg-outline-right-orange.png');
}
.layer-6 {
	background-image: url('../images/bg-outline-left-orange.png');
}


/*********
/* YELLOW CIRCLES
/**/

.layer-7 {
	background-image: url('../images/bg-solid-left-yellow.png');
	background-position: left bottom;
}
.layer-8 {
	background-image: url('../images/bg-solid-right-yellow.png');
	background-position: right bottom;
}
.layer-9 {
	background-image: url('../images/bg-hashed-left-yellow.png');
}
.layer-10 {
	background-image: url('../images/bg-hashed-right-yellow.png');
	background-position: right bottom;
}
.layer-11 {
	background-image: url('../images/bg-outline-right-yellow.png');
}
.layer-12 {
	background-image: url('../images/bg-outline-left-yellow.png');
}

/*********
/* GREEN CIRCLES
/**/

.layer-13 {
	background-image: url('../images/bg-solid-left-green.png');
	background-position: left bottom;
}
.layer-14 {
	background-image: url('../images/bg-solid-right-green.png');
	background-position: right bottom;
}
.layer-15 {
	background-image: url('../images/bg-hashed-left-green.png');
}
.layer-16 {
	background-image: url('../images/bg-hashed-right-green.png');
	background-position: right bottom;
}
.layer-17 {
	background-image: url('../images/bg-outline-right-green.png');
}
.layer-18 {
	background-image: url('../images/bg-outline-left-green.png');
}


/*********
/* BLUE CIRCLES
/**/

.layer-19 {
	background-image: url('../images/bg-solid-left-blue.png');
	background-position: left bottom;
}
.layer-20 {
	background-image: url('../images/bg-solid-right-blue.png');
	background-position: right bottom;
}
.layer-21 {
	background-image: url('../images/bg-hashed-left-blue.png');
}
.layer-22 {
	background-image: url('../images/bg-hashed-right-blue.png');
	background-position: right bottom;
}
.layer-23 {
	background-image: url('../images/bg-outline-right-blue.png');
}
.layer-24 {
	background-image: url('../images/bg-outline-left-blue.png');
}

/*********
/* PURPLE CIRCLES
/**/

.layer-25 {
	background-image: url('../images/bg-solid-left-purple.png');
	background-position: left bottom;
}
.layer-26 {
	background-image: url('../images/bg-solid-right-purple.png');
	background-position: right bottom;
}
.layer-27 {
	background-image: url('../images/bg-hashed-left-purple.png');
}
.layer-28 {
	background-image: url('../images/bg-hashed-right-purple.png');
	background-position: right bottom;
}
.layer-29 {
	background-image: url('../images/bg-outline-right-purple.png');
}
.layer-30 {
	background-image: url('../images/bg-outline-left-purple.png');
}



/***********************
/* RESPONSES
/***********************/

.response {
	display: none;
}

.trait {
	width: 100%;
	padding: 7rem 7rem;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}



/**************
/* FOOTER
/**************/

footer {
	font-size: 2rem;
	color: #000;
	background-color: #fff;
	text-align: center;
	padding: 5rem 0;
	
}

.social {
	display: block;
	padding-top: 3rem;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;

}

.social a {
	color: #000;
}


/******************************************
/* Animation
/*******************************************/

.animation-placeholder {
	margin-bottom: 2.5rem;
}



/******************************************
/* MEDIA QUERY FOR 600px breakpoint
/*******************************************/

@media screen and (min-width: 600px) {

	body {
   		font-size: 1.4rem;
  		line-height: 1.5;
  		font-family: Helvetica, Arial, sans-serif;
	}

	.logo {
		width: 85%;
	}

	.hamburger {
		width: 7%;
		height: auto;
		padding-top: 2.5rem;
	}

	nav a {
		font-size: 3rem;
	}


	h1 {
  		font-size: 1.6rem;
  	}


	form {
		line-height: 1.7rem;
		border: 3px solid #fff;
		padding: 2.5rem;
		margin-bottom: 1rem;
	}

	label {
		font-size: 1.5rem;
		display: inline-block;
		margin-bottom: 1rem;
	}

	input {
		margin-bottom: 2rem;
		font-size: 1.2rem;
		padding: 1.2rem;
	}

	textarea {
		font-size: 1.2rem;
		margin-bottom: 2rem;
		padding: 2rem;
	}

	button {
		font-size: 1.6rem;
		border: 3px solid #fff;
	}

	.multi-parallax {
		height: 45vh;
	}

	.layer {
		height: 45vh;
	}

	.pink-button:hover {
		color: #EB99BA;
		background-color: rgba(255,255,255,1);
	}

	.purple-button:hover {
		color: #9281B9;
		background-color: rgba(255,255,255,1);
	}

	.trait {
	padding: 4rem 4rem;
	font-size: 1.6rem;
	}


	footer {
		font-size: 1rem;
		color: #000;
		background-color: #fff;
		text-align: center;
		padding: 4rem 0;
	}

	footer a:hover {
		border-bottom: 1px solid #000;
	}

	.social {
		display: block;
		padding-top: 1.5rem;
	}

}


/******************************************
/* MEDIA QUERY FOR 800px breakpoint
/*******************************************/

@media screen and (min-width: 800px) {

	.hamburger {
		width: 5%;
		height: auto;
		padding-top: 2.5rem;
	}

	.logo {
		width: 75%;
	}

	.multi-parallax {
		height: 65vh;
	}

	.layer {
		height: 65vh;
	}
}


/******************************************
/* MEDIA QUERY FOR 900px breakpoint
/*******************************************/

@media screen and (min-width: 900px) {

	.logo {
		width: 70%;
	}

	.multi-parallax {
		height: 70vh;
	}

	.layer {
		height: 70vh;
	}
}


/******************************************
/* MEDIA QUERY FOR 1000px breakpoint
/*******************************************/

@media screen and (min-width: 1000px) {

	.container {
		width: 70%;
	}

	.hamburger {
		width: 5%;
		padding-top: 3rem;
	}

	.multi-parallax {
		height: 75vh;
	}

	.layer {
		height: 75vh;
	}

}	




